.permissionBox {
  width: 60vw;
  min-height: 50vh;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  position: absolute;
  top: 20vh;
  background-color: rgba(255, 255, 255, 0.151);
  padding: 1.2rem;
  border-radius: 0.5rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  gap: 0.5rem;
}
.clause {
  width: 80%;
  gap: 0.5rem;
}
.clause ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
li {
  list-style-type: disc;
  font-size: 1rem;
}
.TAndCTitle {
  font-size: 2.5vw;
  font-weight: 500;
}
.checkBoxContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 0.8rem;
  align-items: center;
  height: 2rem;
}
.btnBox {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.proceed {
  width: 5rem;
  height: 2rem;
  border: 1px solid blue;
  border-radius: 0.5rem;
}
.cancelBtn {
  width: 4rem;
  height: 2rem;
  border: 1px solid red;
  border-radius: 0.5rem;
}
@media screen and (max-width: 800px) {
  .permissionBox {
    width: 60vw;
  }
  .TAndCTitle {
    font-size: 1.3rem;
  }
  li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .permissionBox {
    width: 60vw;
  }
  .TAndCTitle {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }
}
